*
!/README.md
!/.gitignore
!/.gitignore_global

!/.vim
!/.vim/colors
!/.vim/colors/*
!/.vimrc

!/.tmux.conf
!/.tmux
!/.tmux/blue.tmuxtheme

!/.zshrc

!/.config
!/.config/kitty
!/.config/kitty/kitty.conf

!/.gnupg
!/.gnupg/gpg-agent.conf

!/.pam_environment

!/.asdfrc
